# Секреты Google (самое важное!)
# Эти файлы НИКОГДА не должны попасть на GitHub
client_secret3.json
token.pickle
client_secret_*.json


service_account.json


# Виртуальное окружение
# Содержит все установленные библиотеки, не нужно загружать
.venv/
venv/

# Служебные файлы Python и PyCharm
__pycache__/
.idea/
*.pyc
*.pyo
# Файл состояния бота (может содержать данные чатов)
bot_persistence

# Папка с токенами (от старой многопользовательской версии)
tokens/

.env
.DS_Store

.idea/
